@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

body {
  @apply bg-dark text-slate-100;
}

@layer components {
  .hover-animation {
    @apply transition-colors duration-200;
  }
  .layout {
    max-width: 68rem;
    @apply mx-auto w-11/12;
  }

  .t3text {
    width: 200px; /* Adjust the width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  .custom-underline {
    @apply hover-animation underline decoration-transparent outline-none transition [text-decoration-thickness:1px] hover:decoration-inherit focus-visible:decoration-inherit;
  }
}
