@import url(./fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 200 7% 91%;
    --background: 0 0% 0%;
    --primary: 204 88% 53%;
    --secondary: 220 12% 10%;
  }

  * {
    border-color: rgb(47, 51, 54);
  }

  html {
    color-scheme: dark;
  }

  body {
    @apply bg-background font-twitter-chirp leading-5 text-foreground;
  }
}

@layer components {
  .content-post {
    --tw-text-opacity: 1;
    color: rgb(231 233 234 / var(--tw-text-opacity));
    font-size: 15px;
    line-height: 1.25rem;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
  }

  .post-detail .content-post {
    font-size: 17px;
    line-height: 1.5rem;
  }

  .image-tweet {
    background-image: url("/images-test/b.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    padding-bottom: 56.25%;
  }
}
