@import url(./fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 200 7% 91%;
    --background: 0 0% 0%;
    --primary: 204 88% 53%;
    --secondary: 220 12% 10%;
    --desctructive: 356 91% 54%;
  }

  * {
    border-color: rgb(47, 51, 54);
  }

  html {
    color-scheme: dark;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    line-height: 1.25rem;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif;
  }
}

@layer components {
  .content-post {
    --tw-text-opacity: 1;
    color: rgb(231 233 234 / var(--tw-text-opacity));
    font-size: 15px;
    line-height: 1.25rem;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
  }

  .create-post-content::-webkit-scrollbar {
    display: none;
  }
}
